<% layout('layouts/boilerplate') %>
   <div class="row">
      <div class="col-8 offset-3 mt-4 mb-2">

         <h3>
            <%= listing.title%>
         </h3>
      </div>
   </div>

   <div class="card col-6 offset-3 show-card listing-card">
      <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image" />
      <div class="card-body">
         <p class="card-text"></p>

         <p class="card-text">
            <%= listing.description %>
         </p>
         <p class="card-text"> &#8377;<%= listing.price.toLocaleString("en-IN") %>
         </p>
         <p class="card-text">
            <%= listing.location %>
         </p>
         <p class="card-text">
            <%= listing.country %>
         </p>

      </div>
   </div>

   </div>

   <% listing.reviews.forEach(review=> { %>
      <% if(curruser && review.author && review.author._id.equals(curruser._id)) { %>
         <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
         </form>
         <% } %>
            <% }) %>

               <div class="col-8 offset-3 mb-3">
                  <hr>
                  <% if(curruser) { %>
                     <h4>Leave a Review</h4>

                     <form action="/listings/<%= listing.id %>/reviews" method="post" novalidate
                        class="needs-validation">

                        <!-- <div class="mb-3 mt-3">
                          
                           <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
                        </div> -->

                        <div class="mb-3 mt-3">
                           <label for="rating" class="form-label">Rating</label>
                           <fieldset class="starability-slot">

                              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
                                 checked aria-label="No rating." />
                              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                              <label for="first-rate1" title="Terrible">1 star</label>
                              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                              <label for="first-rate2" title="Not good">2 stars</label>
                              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                              <label for="first-rate3" title="Average">3 stars</label>
                              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                              <label for="first-rate4" title="Very good">4 stars</label>
                              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                              <label for="first-rate5" title="Amazing">5 stars</label>
                           </fieldset>
                        </div>


                        <div class="mb-3 mt-3">
                           <label for="comment" class="form-label">Comments</label>
                           <textarea name="review[comment]" required class="form-label" id="comment" cols="30" rows="5">
            </textarea>

                           <div class="invalid-feedback">
                              Please add some comments for review
                           </div>

                        </div>
                        <button class="btn btn-outline-dark">Submit</button>
                     </form>
                     <% } %>

                     
                   <%  if(listing.reviews.length > 0) { %>
                            <hr>
                        <p><b>All Reviews</b></p>
                        <div class="row">
                        <% for(review of listing.reviews) { %>
                           <div class="card col-5 ms-3 mb-3">
                              <div class="card-body">
                                 <h5 class="card-title">
                                    <%= review.author.username %>
                                 </h5>

                                 <p class="starability-result" data-rating="<%= review.rating %>"> </p>

                                 <p class="card-text">
                                    <%= review.comment %>
                                 </p>

                                 <form class="mb-3" method="POST"
                                    action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                    <button class="btn btn-sm btn-dark">Delete</button>
                                 </form>
                              </div>
                           </div>
                           <% } %>
                        </div>
                        <% } %>
               </div>
               </div>

               <!-- <<div class="col-6 offset-3 mb-3">
  <h3>Where you'll be</h3>
  <div id="map" style="height: 400px; border-radius: 10px;"></div>
</div>

<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
  <!-- window.coordinates =  JSON.stringify(coordinates) %>;
</script> -->

<!-- <script src="/js/showmap.js"></script> --> -->
